HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified

HOST=0.0.0.0
PORT=1337
APP_KEYS=rU3Bv0HF468/MmJUOVr5hA==,UUzOl8RKnHUvyPnossZoew==,a9ja89vg0iMmuI9lXwnd4w==,bjxg0TBRydR2tfJjfaipvQ==
API_TOKEN_SALT=+UWekIgkp7EJz2Ba3/eHGg==
ADMIN_JWT_SECRET=zGyhrgwTzUl9zgoq/oDIrQ==
TRANSFER_TOKEN_SALT=m4zomkwlkQhUrdcp8a3sDQ==
# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=192.168.211.28
DATABASE_PORT=5432
DATABASE_NAME=67_app_uat
DATABASE_USERNAME=montiwa01
DATABASE_PASSWORD=montiwa01
DATABASE_SSL=false
JWT_SECRET=5V+xZt3WFDXFpDElG+rqeA==

